body {
    background-color: lightgreen;
}

.container {
    width: 1140px;
    margin: auto;
    background-color: grey;
}

h1 {
    color: blue;
    text-align: center;
}

ol {
    padding-bottom: 30px;
}

.tasks-list {
    border: 2px dashed red;
    list-style-type: disc;
}

.task-item {
    line-height: 2;
    color: darkblue;
    font-weight: 600;
}

.refresh-btn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: medium;
    margin: 15px;
    display: block;
    padding: 10px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.box-container {
    margin: auto;
    width: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    border: 1px solid white;
}

.keys {
    display: flex;
    justify-content: center;
}

.key {
    border: 1px solid white;
    margin: 150px 15px;
    padding: 15px;
}

.playing {
    border: 1px solid rgba(238, 250, 65, 1);
    box-shadow: 0px 0px 86px 9px rgba(238, 250, 65, 1);
}

.key-name {
    color: yellow;
    font-size: x-large;
}

.audio-html {
    background-size: cover;
    background: url(../img/concert.jpeg) no-repeat center center fixed;

}

.audio-body {
    background-color: transparent;
}

.result {
    width: fit-content;
    height: 30px;
    margin: 10px auto;
    font-size: x-large;
}

.btn {
    display: block;
    margin: 10px auto;
}

.form {
    text-align: center;
}

.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: yellow;
}

.character {
    border: 1px solid blue;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    color: yellow;
}

.character svg {
    fill: yellow;
}

.planets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: yellow;
}

.planet {
    border: 1px solid blue;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}

.starwars {
    background-size: cover;
    background: url(../img/starwars_bg.jpg) no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
}

.starwars-body {
    background-color: transparent;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.sw-logo {
    margin: 5px 0;
    text-align: center;
}

.sw-logo img {
    width: 300px;
}

.sw-btn {
    margin: 5px;
    border: 1px solid yellow;
}

.show-buttons, .pagination-buttons {
    text-align: center;
}