body {
    background-color: lightgreen;
}

.container {
    width: 1140px;
    margin: auto;
    background-color: grey;
}

h1 {
    color: blue;
    text-align: center;
}

ol {
    padding-bottom: 30px;
}

.tasks-list {
    border: 2px dashed red;
    list-style-type: disc;
}

.task-item {
    line-height: 2;
    color: darkblue;
    font-weight: 600;
}

.refresh-btn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: medium;
    margin: 15px;
    display: block;
    padding: 10px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.box-container {
    margin: auto;
    width: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    border: 1px solid white;
}

.keys {
    display: flex;
    justify-content: center;
}

.key {
    border: 1px solid white;
    margin: 150px 15px;
    padding: 15px;
}

.playing {
    border: 1px solid rgba(238, 250, 65, 1);
    box-shadow: 0px 0px 86px 9px rgba(238, 250, 65, 1);
}

.key-name {
    color: yellow;
    font-size: x-large;
}

.audio-html {
    background-size: cover;
    background: url(../img/concert.jpeg) no-repeat center center fixed;

}

.audio-body {
    background-color: transparent;
}