body {
    background-color: lightgreen;
}

.container {
    width: 1140px;
    margin: auto;
    background-color: grey;
}

h1 {
    color: blue;
    text-align: center;
}

ol {
    padding-bottom: 30px;
}

.tasks-list {
    border: 2px dashed red;
    list-style-type: disc;
}

.task-item {
    line-height: 2;
    color: darkblue;
    font-weight: 600;
}

.refresh-btn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: medium;
    margin: 15px auto;
    display: block;
    padding: 10px;
    outline: none;
}

.box-container {
    margin: auto;
    width: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    border: 1px solid white;
}
