body{
    background-color: lightgreen;
}
.container{
    width: 1140px;
    margin: auto;
    background-color: grey;
}

.tasks-list{
    border: 2px dashed red;
}

.task-item{
    line-height: 2;
    color: darkblue;
    font-weight: 600;
}